<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzu.video.dao.CommentMapper">
    <select id="selectCountByVideoId" resultType="int">
        select count(cid)
        from comment
        where vid = #{videoId}
    </select>

    <select id="selectCommentsByVideoId" resultType="Comment">
        select *
        from comment
        where vid =#{videoId}
        order by create_time asc
        limit #{offset}, #{limit}
    </select>

    <insert id="insertComment" parameterType="Comment" keyProperty="cid" useGeneratedKeys="true">
        insert into comment(vid,uid,content,create_time)
        values(
                #{vid},#{uid},#{content},#{createTime}
              )
    </insert>
</mapper>