<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzu.video.dao.UserMapper">



    <sql id="insertFields">
        username, password, user_info, create_time,salt
    </sql>

    <sql id="selectFields">
        uid, username, password, user_info, create_time,salt
    </sql>

    <select id="selectById" resultType="User">
        select <include refid="selectFields"></include>
        from user
        where uid = #{userId}
    </select>

    <select id="selectByName" resultType="User">
        select <include refid="selectFields"></include>
        from user
        where username = #{username}
    </select>
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="uid">
        insert into user (<include refid="insertFields"></include>)
        values(#{username}, #{password},#{userInfo}, #{createTime},#{salt})
    </insert>

    <insert id="insertRefreshToken" parameterType="RefreshTokenDetail" useGeneratedKeys="true" keyProperty="id">
        insert into user(
            fresh_token,uid,create_time
        )values (
            #{freshToken},#{userId},#{createTime}
        )
    </insert>

    <delete id="deleteRefreshTokenByUserId">
        delete from
            refresh_token
        where
              uid = #{userId}
    </delete>

    <delete id="deleteRefreshToken">
        delete from
            refresh_token
        where
            uid = #{userId}
        and fresh_token = #{refreshToken}
    </delete>

    <select id="getRefreshTokenDetail" resultType ="RefreshTokenDetail">
        select * from refresh_token
        where refresh_token = #{refreshToken}
    </select>

    <select id="getUserByIds" resultType="User">
        select
        *
        from
        user
        where
        1=1
        <if test="userIdList != null and userIdList.size > 0">
            and uid in
            <foreach collection="userIdList" item = "userId" index="index" open="(" close=")" separator=",">
                #{userId}
            </foreach>
        </if>
    </select>
</mapper>